.App {
  text-align: left;
  font-family: inherit;
  background-position-x: left; 
}

a {
  text-decoration: none;
  color: blue;
} 

a:visited {
  text-decoration: none;
  text-decoration-color: inherit;
  color: inherit;
}

.Title{
  font-size: 10px;
  /* padding-top: 10px; */
  /* padding-left: 8px; */
  height: 60px;
}

.Title h1{
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
}

.PhotoSpacer{
  /* margin-bottom: 40px;
  padding-bottom: 40px; */
  padding-top: 60px;
}

.Canvas{
  padding: 45px; 
}

.Header{
  position: fixed;
  float: none;
  padding-left: 8px;
}

.Navbar{
  /* padding-top: 10px; */
  font-weight:bold;
  width: 100px
}

ul{
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  /* padding-left: 8px; */
}

ul li:hover{
  color: lightslategray;
}

/* Hidden sublists */
.Subnav{
  font-weight: normal;
}

.SublistA {
  visibility: hidden;
  display: none;
} 

.SublistB {
  visibility: hidden;
  display: none;
} 

.SublistC {
  visibility: hidden;
  display: none;
} 

.SublistD {
  visibility: hidden;
  display: none;
} 

.SublistE {
  visibility: hidden;
  display: none;
} 

.SublistF {
  visibility: hidden;
  display: none;
} 

.Media{
  margin-left: 130px; 
}

.HomePhoto{
  height: auto;
  width: 800px;
}

.PhotoButtonWrapper{
  /* padding-top: 20px; */
  width: 800px;
  display: inline-block;
  padding-left: 130px;
}

.PhotoButtons{
  float: left;
  padding-left: 10px;
  width: 40px;
  display: table;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.ImageInfo{
  float: right;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  text-align: right;
}

.LeftButton{
  float: left;
}

.RightButton{
  float: right;
}

.Footer{
  padding-left: 8px;
  /* padding-top: 10px; */
  width: 922px; 
  height: auto;
  text-align: justify;
  /* display: inline; */
}

.photographersCanvas {
  padding-left: 130px;
}

.photographersWrapper {
  height: 600px;
}

.photographersItem {
  height: 150px;
  padding-top:0px;
  margin-top:0px;
}

.photographersItem ul {
  display: block;
}

.photographersItem li {
  display: inline-block;
  padding-right: 15px;
  font-size: 13px;
}

.photographersNameWrapper li{
  display: block;
  /* vertical-align: middle; */
}

/* .photographersScroller ul {
  padding-top: 0px;
} */

.photographersScroller li{
  /* height: 125px; */
  width: auto;
  margin-top: -4px;
  padding-left: 5px;
  padding-right: 5px;
  list-style-position:inside;
  border: 1px solid black;
  display: inline-block;
}